@charset "utf-8";
/*------------------------------------
- "primary" colour overrides below
------------------------------------*/

.alert-primary
{
    color: #71350d;
    background-color: #f9decb;
    border-color: #f6d2b9;
}

.alert-primary hr
{
    border-top-color: #f4c3a2;
}

.alert-primary .alert-link
{
    color: #431f07;
}

.badge-primary
{
    color: #212529;
    background-color: #df691a;
}

.badge-primary[href]:hover, .badge-primary[href]:focus
{
    color: #212529;
    background-color: #b15314;
}

.bg-primary
{
    background-color: #df691a !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus
{
    background-color: #b15314 !important;
}

.border-primary
{
    border-color: #df691a !important;
}

.btn-primary
{
    color: #212529;
    background-color: #df691a;
    border-color: #df691a;
}

.btn-primary:hover
{
    color: #212529;
    background-color: #bf5916;
    border-color: #b15314;
}

.btn-primary:focus, .btn-primary.focus
{
    box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled
{
    color: #212529;
    background-color: #df691a;
    border-color: #df691a;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle
{
    color: #212529;
    background-color: #b15314;
    border-color: #a34d13;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
}

.btn-outline-primary
{
    color: #df691a;
    background-color: transparent;
    border-color: #df691a;
}

.btn-outline-primary:hover
{
    color: #212529;
    background-color: #df691a;
    border-color: #df691a;
}

.btn-outline-primary:focus, .btn-outline-primary.focus
{
    box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled
{
    color: #df691a;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle
{
    color: #212529;
    background-color: #df691a;
    border-color: #df691a;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.5);
}

.list-group-item-primary
{
    color: #71350d;
    background-color: #f6d2b9;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus
{
    color: #71350d;
    background-color: #f4c3a2;
}

.list-group-item-primary.list-group-item-action.active
{
    color: #212529;
    background-color: #71350d;
    border-color: #71350d;
}

.table-primary,
.table-primary > th,
.table-primary > td
{
    background-color: #f6d2b9;
}

.table-hover .table-primary:hover
{
    background-color: #f4c3a2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th
{
    background-color: #f4c3a2;
}

.text-primary
{
    color: #df691a !important;
}

a.text-primary:hover, a.text-primary:focus
{
    color: #b15314 !important;
}







/*------------------------------------
- "secondary" colour overrides below
------------------------------------*/
.alert-secondary
{
    color: #1a1f24;
    background-color: #b9c3cc;
    border-color: #adb8c4;
}

.alert-secondary hr
{
    border-top-color: #9eacb9;
}

.alert-secondary .alert-link
{
    color: #050607;
}

.badge-secondary
{
    color: #fff;
    background-color: #4e5d6c;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus
{
    color: #fff;
    background-color: #38434e;
}

.bg-secondary
{
    background-color: #4e5d6c !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus
{
    background-color: #38434e !important;
}

.border-secondary
{
    border-color: #4e5d6c !important;
}

.btn-secondary
{
    color: #fff;
    background-color: #4e5d6c;
    border-color: #4e5d6c;
}

.btn-secondary:hover
{
    color: #fff;
    background-color: #3f4b57;
    border-color: #38434e;
}

.btn-secondary:focus, .btn-secondary.focus
{
    box-shadow: 0 0 0 0.2rem rgba(78, 93, 108, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled
{
    color: #fff;
    background-color: #4e5d6c;
    border-color: #4e5d6c;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle
{
    color: #fff;
    background-color: #38434e;
    border-color: #323b45;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.2rem rgba(78, 93, 108, 0.5);
}

.btn-outline-secondary
{
    color: #4e5d6c;
    background-color: transparent;
    border-color: #4e5d6c;
}

.btn-outline-secondary:hover
{
    color: #fff;
    background-color: #4e5d6c;
    border-color: #4e5d6c;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus
{
    box-shadow: 0 0 0 0.2rem rgba(78, 93, 108, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled
{
    color: #4e5d6c;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle
{
    color: #fff;
    background-color: #4e5d6c;
    border-color: #4e5d6c;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.2rem rgba(78, 93, 108, 0.5);
}

.list-group-item-secondary
{
    color: #1a1f24;
    background-color: #adb8c4;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus
{
    color: #1a1f24;
    background-color: #9eacb9;
}

.list-group-item-secondary.list-group-item-action.active
{
    color: #fff;
    background-color: #1a1f24;
    border-color: #1a1f24;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td
{
    background-color: #adb8c4;
}

.table-hover .table-secondary:hover
{
    background-color: #9eacb9;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th
{
    background-color: #9eacb9;
}

.text-secondary
{
    color: #4e5d6c !important;
}

a.text-secondary:hover, a.text-secondary:focus
{
    color: #38434e !important;
}