@charset "utf-8";




html
{
	box-sizing: border-box; /*will over write content box sizing*/
}


*, *:before, *:after
{
	box-sizing: inherit;
}


img
{
	max-width: 100%; /*makes images always smaller than containing element/page*/
}

#contactForm
{
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}







/*Table styles bellow*/
table
{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th
{
	background-color: #000000;
	color: #FFFFFF;
}

td, th
{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even)
{
	background-color: #dddddd;
}









.wrapper
{
	display: block;
	overflow: auto;
	background: #FFFFFF;
}


header
{
	/*background: red;*/
	width: 100%;
	padding: 1em;
}


nav
{
	/*background: green;*/
	float: left;
	width:25%;
	padding: 1em;
}


#content
{
	/*background: blue;*/
	float:right;
	width:75%;
	padding: 1em;
}



@media (max-width: 768px)
{
	header
	{
		/*background: orange;*/
		width: 100%;
	}


	nav
	{
		/*background: orange;*/
		width:100%;
	}


	#content
	{
		/*background: orange;*/
		width:100%;
	}
}




